# Ambiente virtual
.venv/

# Variáveis de ambiente / senhas
.env

# Python
__pycache__/
*.py[cod]

# PyCharm
.idea/

# VS Code local
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db

#JSON
data/profile.json
data/ai_queue_state.json
data/ai_queue_state.json.tmp

data/.ai_queue.lock

data/logs/
data/reports/

data/collector_state.json
data/collector_state.json.tmp
data/.collector.lock
credentials/

data/email_report_state.json
data/email_report_state.json.tmp